@use "../../utils" as *;
.tp-transparent-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}
.tp-main-menu {
  @media #{$xxlm} {
    padding-left: 20px;
  }
  @media #{$xl} {
    padding-left: 20px;
  }

  & ul {
    & li {
      display: inline-block;
      margin-right: 42px;
      position: relative;
      @media #{$xxlm} {
        margin-right: 25px;
      }
      @media #{$xl} {
        margin-right: 22px;
      }

      & a {
        font-family: var(--tp-fonts-body);
        color: #fff;
        font-size: 18px;
        padding: 36px 0;
        display: inline-block;
        position: relative;
        &::before {
          content: "\f118";
          font-family: var(--tp-fonts-flaticon);
          font-size: 40px;
          position: absolute;
          top: -5px;
          left: 26px;
          transform: rotate(133deg);
          color: var(--tp-theme-sec-color);
          opacity: 0;
          transition: 0.3s;
        }
      }

      & .sub-menu {
        position: absolute;
        width: 213px;
        left: 0;
        top: 100%;
        height: auto;
        background: #fff;
        padding: 14px 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;

        & li {
          margin-right: 0;
          display: block;
          & a {
            color: #000;
            display: block;
            padding: 5px 25px;
            font-size: 17px;
            &::before {
              display: none;
            }
          }
          & .sub-menu {
            left: 100%;
            top: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
          }
          &:hover {
            & > a {
              color: #0057fc;
            }
            & .sub-menu {
              opacity: 1;
              visibility: visible;
              top: 0;
            }
          }
        }
      }
      &:hover {
        & a {
          color: var(--tp-theme-sec-color);
          &:before {
            opacity: 1;
            top: 0;
          }
        }
        & .sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.tp-header {
  &-area {
    @media #{$xl} {
      padding-left: 15px;
    }
  }
  &-border {
    border-bottom: 1px solid rgb(255, 255, 255, 0.15);
  }
  &-search {
    margin-right: 40px;
    & i {
      font-size: 33px;
      color: #b1b4ba;
    }

    @media #{$xl} {
      margin-right: 25px;
    }
  }
  &-bar {
    & button {
      background: #23252d;
      padding: 15px 25px;
      & i {
        color: #fff;
        font-size: 60px;
      }
    }
  }
  &-cta {
    padding: 25px 40px;
    border-left: 1px solid rgb(255, 255, 255, 0.15);
    & i {
      font-size: 33px;
      color: var(--tp-yellow-color);
    }
    @media #{$xl} {
      padding: 26px 12px;
    }

    &-text span {
      color: #b1b4ba;
      font-size: 15px;
      display: block;
      margin-bottom: 10px;
      line-height: 1;
    }
    &-text h4 {
      color: #ffffff;
      font-size: 18px;
      margin: 0;
    }
  }
}
