@use "../../utils" as *;
.tp-transparent-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.tp-main-menu ul li a {
    font-family: var(--tp-fonts-body);
    color: #fff;
    font-size: 18px;
    padding: 36px 0;
    display: inline-block;
}