@use "../utils/" as *;

.w-img {
  & img {
    width: 100%;
  }
}
.m-img {
  & img {
    max-width: 100%;
  }
}
img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}
.clear {
  clear: both;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}
.z-index-2 {
  position: relative;
  z-index: 2;
}
.z-index-3 {
  position: relative;
  z-index: 3;
}

.z-index-11 {
  z-index: 11;
  position: relative;
}
.overflow-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}
.overflow-x-visible {
  overflow-x: visible;
  overflow-y: hidden;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.tp-sub-font {
  font-family: var(--tp-sub-heading);
}
.tp-heading-font {
  font-family: var(--tp-font-heading);
}
.pb-130 {
  padding-bottom: 130px;
}
.br {
  &-12 {
    border-radius: 12px;
  }
  &-16 {
    border-radius: 16px;
  }
  &-20 {
    border-radius: 20px;
  }
  &-30 {
    border-radius: 30px;
  }
}
// color
.c-green {
  color: var(--tp-primary-color);
}
.bg-gray {
  background-color: var(--tp-gray-color);
}
.bg-gray2 {
  background-color: var(--tp-gray-color2);
}
.tp-service-bg {
  background-color: var(--tp-gray-color);
}
.tp-white-bg {
  background-color: var(--tp-white-color);
}

.tp-yellow-bg {
  background-color: var(--tp-yellow-color);
}
.bg-theme-2 {
  background-color: var(--tp-primary-color);
}

.fns {
  &-50 {
    font-size: 50px;
    @media #{$xs} {
      font-size: 45px;
    }
  }
  &-80 {
    font-size: 80px;
    @media #{$xs} {
      font-size: 60px;
    }
  }
  &-60 {
    font-size: 60px;
  }
  &-16 {
    font-size: 16px;
    line-height: 24px;
  }
  &-20 {
    font-size: 20px;
    line-height: 32px;
  }
  &-26 {
    font-size: 26px;
  }
  &-34 {
    font-size: 34px;
  }
}
.fnw {
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
}
.p {
  &-40 {
    padding: 40px;
  }
}

//height
.tp-h-630 {
  min-height: 630px;
  @media #{$xs} {
    min-height: 552px;
  }
}

.container {
  &-1400 {
    max-width: 1400px;
    margin: 0 auto;
  }
}
.bg-cover {
  background-size: cover;
}

// sass --watch E:\wde-b2\helpus\assets\scss\main.scss:E:\wde-b2\helpus\assets\css\style.css
