@use "../utils/" as *;

.tp-btn {
  display: inline-block;
  color: var(--tp-green-color);
  background: var(--tp-yellow-color);
  padding: 22px 33px;
  border-radius: 12px;
  line-height: 1;
  font-size: 16px;
  &-hero {
    background-color: var(--tp-yellow-color);
    font-weight: 600;
    color: #121018;
    &:hover {
      background-color: var(--tp-white-color);
      color: #121018;
    }
  }
  &-primary {
    background-color: var(--tp-primary-color);
    color: #fff;
  }
  &-text {
    font-size: 15px;
  }
  &-border {
    padding: 7px 26px;
    border: 1px solid var(--tp-primary-color);
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    &:hover {
      background-color: var(--tp-primary-color);
      color: #fff;
    }
  }
  &-boeder-down {
    color: #121018;
    font-family: var(--tp-font-heading);
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #121018;
    display: inline-block;
  }
  &-sm {
    padding: 14px 23.5px;
    border-radius: 8px;
    background: var(--tp-primary-color);
    color: #f8f3e7;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    &-theme {
      background-color: #ffcf4e;
      color: #073d30;
      padding: 12px 20px;
    }
  }
  &-full {
    background-color: #f8f3e7;
    color: #073d30;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    display: block;
    padding: 17px 10px;
    border-radius: 12px;
    &-red {
      background-color: #fe4e15;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &-red {
    display: inline-block;
    color: var(--tp-white-color);
    background-color: var(--tp-primary-color-2);
    padding: 13px 22px;
    border-radius: 30px;
    line-height: 1;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    &-xl {
      padding: 22px 56px;
      color: var(--tp-white-color);
      background-color: var(--tp-primary-color-2);
    }
    &-sm {
      padding: 19px 59px;
    }
  }
}
.tp-text-btn-icon {
  color: #121018;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  & svg {
    margin-left: 5px;
  }
}
