@use "../utils/" as *;
.tp-section {
  &-info-space {
    margin-left: 78px;
  }
  &-sub-font {
    color: var(--tp-pink-color);
    font-size: 30px;
    line-height: 60px;
  }
  &-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -2.4px;
  }
  &-back-title {
    background: linear-gradient(179deg, #e0deda 39.13%, #f2f0ec 104.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 280px;
    position: absolute;
    bottom: 35%;
  }
}
