@use "../utils/" as *;
.tp-section {
  &-info {
    & p {
      & br {
        @media #{$lg,$md,$xs} {
          display: none;
        }
      }
    }
    &-space {
      margin-left: 78px;
    }
    &-para {
      @media #{$lg,$md,$xs} {
        margin-left: 0;
      }
    }
  }
  &-sub-font {
    color: var(--tp-pink-color);
    font-size: 30px;
    line-height: 60px;
  }
  &-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -2.4px;
    @media #{$xs} {
      font-size: 42px;
    }
    &-2{
      color: var(--tp-primary-color);
    }
  }
  &-back-title {
    background: linear-gradient(179deg, #e0deda 39.13%, #f2f0ec 104.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 280px;
    position: absolute;
    bottom: 35%;
    &-2 {
      bottom: -30%;
    }
    @media #{$xs} {
      font-size: 190px;
    }
  }
}
.tp-blog-area {
  .tp-section-info {
    & h2 {
      @media #{$xl} {
        font-size: 60px;
      }
    }
  }
}
