:root {
    --tp-theme-color: #063D30;
    --tp-theme-3: #055C4D;
    --tp-theme-heading: #121018;
    --tp-body-color: #5A5860;
    --tp-primary-color: #073D30; 
    --tp-primary-color-2: #FE4E15; 
    --tp-header-bg: #ffffff;
    --tp-yellow-color: #FFCF4E;
    --tp-white-color: #fff;
    --tp-gray-color: #F2F0EC;
    --tp-gray-color2: #F8F3E7;
    --tp-pink-color: #ff73ae;
    --tp-offwhite-color: #454449;
    
} 