@use '../utils' as *;

.tp-btn {
	padding: 22px 48px;
	font-family: var(--tp-fonts-heading);
	background: var(--tp-theme-sec-color);
	border-radius: 5px;
	color: var(--tp-heading-color);
	font-size: 18px;
	display: inline-block;
}