@use "../../utils" as *;

.custom-row {
  display: flex;
  justify-content: space-between;
}

.tpfact {
  &__text {
    span {
      font-family: var(--tp-fonts-heading);
      font-size: 100px;
      line-height: 1;
      color: #fff;
      display: inline-block;
    }
  }
  &__title {
    font-size: 30px;
    color: #fff;
    opacity: 0.5;
  }
  &__icon {
    & span {
      font-size: 110px;
      display: inline-flex;
      color: var(--tp-theme-sec-color);
    }
  }
}
