@use "../../utils" as *;

.tp-project {
  &-tab {
    & button {
      color: #fff;
      font-size: 100px;
      font-family: var(--tp-fonts-heading);
      line-height: 1.2;
      border-bottom: 1px solid #2f446b;
      border-bottom-color: rgb(47, 68, 107);
      padding: 17px 39px 17px 77px;
      transition: 0.3s;
      @media #{$xl} {
        padding: 17px 40px;
        font-size: 75px;
      }
      @media #{$lg} {
        padding: 17px 30px;
        font-size: 60px;
        width: 100%;
        text-align: left;
      }

      &.active {
        color: var(--tp-theme-sec-color);
        border-color: var(--tp-theme-sec-color);
      }
      @media #{$xxlm} {
        font-size: 75px;
      }
    }
    &-thumb {
      & img {
        border-radius: 20px;
        width: 100%;
      }
    }
  }
}
