@use "../../utils/" as *;
.tp-header {
  &-transparent {
    position: absolute !important;
    top: 26px;
    left: 0;
    right: 0;
  }
  &-container {
    max-width: 1424px;
  }

  &-bg {
    border-radius: 12px;
  }
  &-logo {
    position: relative;
    z-index: 1;
    &-box {
      width: 200px;
      flex: 0 0 auto;
      border-radius: 12px 0 0 12px;
    }
    &-shape {
      position: relative;
      & svg {
        position: absolute;
        top: 0;
        left: -1px;
        height: 100%;
      }
    }
  }
  &-menu { 

    & ul {
      & li {
        display: inline-block;
        margin-right: 40px;
        position: relative;
        @include tp-transition();
        &:hover {
          & > a {
            color: var(--tp-yellow-color);
          }
          & > .sub-menu {
            opacity: 1;
            visibility: visible;
            top: 100%;
          }
        }
        & a {
          display: inline-block;
          color: var(--tp-theme-color);
          font-weight: 600;
          font-size: 16px;
          padding: 21px 0;
        }
        & .sub-menu {
          position: absolute;
          top: 105%;
          left: 0;
          width: 200px;
          background-color: #fff;
          padding: 10px 0;
          @include tp-transition();
          opacity: 0;
          visibility: hidden;
          & li {
            display: block;
            margin-right: 0;
            & a {
              padding: 5px 20px;
              display: block;
            }

            & .sub-menu {
              left: 102%;
              top: 0;
            }
            &:hover {
              & > .sub-menu {
                left: 100%;
              }
            }
          }
        }
      }
    }
  }
  &-content {
    width: 100%;
  } 
  &-phone { 
    & a {
      font-family: var(--tp-font-body);
      font-weight: 600;
      font-size: 15px;
      color: var(--tp-theme-color);
      & svg {
        margin-right: 4px;
      }
    }
  }
}
