@use "../../utils/" as *;
.tp-header {
  border-radius: 12px;
  &-transparent {
    position: absolute !important;
    top: 26px;
    left: 0;
    right: 0;
  }
  &-container {
    max-width: 1424px;
  }
  &-toogle {
    font-size: 34px;
    color: var(--tp-theme-color);
    &-wrapper {
      @media #{$md} {
        padding-right: 20px;
        padding-left: 15px;
      }
    }
  }

  &-logo {
    position: relative;
    z-index: 1;
    &-box {
      width: 200px;
      flex: 0 0 auto;
      border-radius: 12px 0 0 12px;
    }
    &-shape {
      position: relative;
      & svg {
        position: absolute;
        top: 0;
        left: -1px;
        height: 100%;
        @media #{$md} {
          left: -16px;
        }
      }
    }
    @media #{$md} {
      margin-right: 21px;
    }
    &-sep {
      padding-left: 20px;
      position: relative;
      &::after {
        content: "";
        background: rgba(8, 55, 44, 0.2);
        height: 30px;
        width: 1px;
        position: absolute;
        right: -24px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &-menu {
    & ul {
      & li {
        display: inline-block;
        margin-right: 40px;
        position: relative;
        @include tp-transition();
        &:hover {
          & > a {
            color: var(--tp-yellow-color);
          }
          & > .sub-menu {
            opacity: 1;
            visibility: visible;
            top: 100%;
          }
        }
        & a {
          display: inline-block;
          color: var(--tp-theme-color);
          font-weight: 600;
          font-size: 16px;
          padding: 21px 0;
        }
        & .sub-menu {
          position: absolute;
          top: 105%;
          left: 0;
          width: 200px;
          background-color: #fff;
          padding: 10px 0;
          @include tp-transition();
          opacity: 0;
          visibility: hidden;
          & li {
            display: block;
            margin-right: 0;
            & a {
              padding: 5px 20px;
              display: block;
            }

            & .sub-menu {
              left: 102%;
              top: 0;
            }
            &:hover {
              & > .sub-menu {
                left: 100%;
              }
            }
          }
        }
      }
    }
  }
  &-content {
    width: 100%;
    @media #{$lg} {
      padding: 5px 20px 5px 0;
    }
    @media #{$xs} {
      padding: 16.2px 0;
      padding-right: 15px;
    }
  }
  &-phone {
    & a {
      font-family: var(--tp-font-body);
      font-weight: 600;
      font-size: 15px;
      color: var(--tp-theme-color);
      & svg {
        margin-right: 4px;
      }
    }
  }
  &-right {
    @media #{$lg} {
      margin-right: 30px;
    }
  }
}
.tp-meta-dvir {
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 22px;
  display: inline-block;
}
.tp-header-full {
  &-menu {
    border-radius: 0 12px 12px 0;
  }
  &-row {
    display: flex;
  }
  &-logo {
    background-color: var(--tp-theme-3);
    padding-left: 60px;
    &-shape {
      border-style: solid;
      border-width: 120px 0 0 86px;
      border-color: transparent transparent transparent var(--tp-theme-3);
      transform: rotate(0deg);
      top: 0;
      right: -85px;
    }
    &-line {
      height: calc(100% + 27px);
      width: 6px;
      background: #ffcf4e;
      top: -2px;
      transform: rotate(-36deg);
      right: -3px;
      transform-origin: top right;
    }
  }
  &-left {
    width: 260px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    position: relative;
  }
  &-middle {
    width: 100%;
  }
  &-right {
    width: 260px;
    flex: 0 0 auto;
  }

  &-meta {
    display: flex;
    align-items: center;
    padding: 11px 0;
    & span {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      font-weight: 500;
      & svg {
        margin-right: 5px;
      }
    }
  }
}
.tp-header-fullbtn {
  color: #ffcf4e;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.36px;
  font-family: var(--tp-sub-heading-2);
}
.tp-header-full-btn {
  padding-right: 20px;
  & svg {
    position: absolute;
    top: -19px;
    left: 0;
    right: 0;
    display: inline-block;
    margin: auto;
    width: auto;
  }
}
.tp-header-lang {
  & ul {
    & li {
      position: relative;
      line-height: 1;
      & a {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        line-height: 1;
      }
      & ul {
        display: none;
        position: absolute;
        top: 177%;
        left: 0;
        background: aqua;
        width: 70px;
        padding: 12px 13px;
        & li {
          & a {
          }
        }
      }
    }
  }
}
