@use "../../utils/" as *;
.tp-offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  background: #fff;
  padding: 50px 40px;
  z-index: 99;
  height: 100%;
  @include translateX(100%);
  @include tp-transition(0.4s);
  &-open {
    @include translateX(0);
  }
  @media #{$xs} {
    width: 100%;
  }
  @media #{$sm} {
    width: 400px;
  }
  &-overlay {
    // position: fixed;
    // width: 100%;
    // height: 100%;
    // background: #000;
    // z-index: 15;
    // opacity: 0;
    // transition: 0.3s;
    // visibility: hidden;
    position: fixed;
    width: 0;
    height: 100%;
    background: #000;
    z-index: 15;
    transition: 0.3s;
    top: 0;
    right: 0;
    opacity: 0.4;
    &-open {
      // opacity: 0.4;
      // visibility: visible;
      width: 100%;
    }
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-close-button {
    font-size: 28px;
    color: var(--tp-theme-heading);
  }
  &-content {
    & p {
      font-size: 17px;
    }
  }
  &-gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
  }
  &-info {
    & span {
      display: block;
      margin-bottom: 4px;
    }
  }
  &-social {
    & a {
      background-color: var(--tp-primary-color);
      color: #fff;
      width: 44px;
      height: 44px;
      border-radius: 12px;
      display: inline-block;
      line-height: 38px;
      text-align: center;
      margin-right: 3px;
    }
  }
}
