@use "../../utils/" as *;
.tp-about {
  &-area {
    padding-bottom: 100px;
  }
  &-wrapper {
    @media #{$xl} {
      padding-left: 40px;
    }
  }
  &-shape {
    mix-blend-mode: exclusion;
    &-1 {
      top: 130px;
      left: 6%;
      @media #{$xxlm} {
        top: 130px;
        left: -2%;
      }
    }
    &-2 {
      top: -71px;
      right: -12%;
      @media #{$xxlm} {
        top: -41px;
        right: -18%;
      }
      @media #{$xl} {
        top: -74px;
        right: -18%;
      }
      @media #{$lg} {
        top: -74px;
        right: -25%;
      }
      @media #{$md} {
        right: -32%;
      }
    }
  }
  &-img {
    & img {
      @media #{$xs} {
        width: 100%;
      }
    }
  }
  &-number {
    position: absolute;
    top: 58%;
    right: -27%;
    @media #{$xs} {
      top: 50%;
      right: 1%;
    }
    &-info {
      position: absolute;
      top: 50%;
      text-align: right;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      padding-right: 62px;
      & h2 {
        color: #f8f3e7;
        font-size: 90px;
      }
      & h6 {
        color: #f8f3e7;
        font-size: 15px;
        letter-spacing: 0;
        margin: 0;
      }
    }
  }
  &-vr-title {
    color: #e0deda;
    font-size: 130px;
    font-weight: 600;
    transform: rotate(90deg);
    line-height: 1;
    position: absolute;
    right: -191px;
    top: 120px;
    margin: 0;
  }
  &-info p {
    line-height: 30px;
  }
  &-fact {
    &-box {
      padding: 20px 10px 8px;
      & h4 {
        line-height: 1;
        letter-spacing: -0.96px;
      }
      & p {
        font-size: 15px;
        line-height: 1;
        font-size: 15px;
      }
    }
    &-shape {
      position: absolute;
      top: 0;
      left: -50px;
      max-width: inherit;
      mix-blend-mode: multiply;
    }
    &-img {
      margin-right: 8px;
    }
  }
}
