@use "../../utils/" as *;
.tp-about-img {
  position: relative;
}
.tp-about-number {
  position: absolute;
  top: 50%;
  right: -20%;
}
.tp-about-number-info {
  position: absolute;
  top: 50%;
  text-align: right;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  padding-right: 62px;
  & h2 {
    color: #f8f3e7;
    font-size: 90px; 
  }
  & h6 {
    color: #f8f3e7; 
    font-size: 15px;  
    letter-spacing: 0;
    margin: 0;
  }
}
