@use "../../utils/" as *;
.tp-fact-item {
  border-left: 1px solid var(--tp-yellow-color);
  padding-left: 20px;
  & span {
    color: #121018;
  }
  & p{
    color: var(--tp-offwhite-color);
  }
}
 
