@use "../../utils/" as *;
.tp-hero {
  padding: 285px 0 345px 0;
  & span {  
    font-size: 50px;
    color: var(--tp-yellow-color); 
    line-height: 1;
  }
  &-title { 
    font-size: 120px;
    letter-spacing: -3.6px;
    line-height: 1; 
  }

}
