@use "../../utils/" as *;
.tpteam {
  &__img {
    box-shadow: 0px 36px 16px -24px rgba(22, 18, 5, 0.08);

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      bottom: 0;

      background: linear-gradient(
        180deg,
        rgba(7, 4, 16, 0) 60.71%,
        #070410 99.3%
      );
    }
    & img {
      border-radius: 20px 20px 0 0;
      @media #{$md,$xs} {
        border-radius: 0;
      }
    }
  }
  &__content {
    position: absolute;
    bottom: 31px;
    left: 0;
    right: 0;
    text-align: center;
    & span {
      color: var(--tp-white-color);
      line-height: 1;
    }
  }
  &__title {
    color: var(--tp-white-color);
    letter-spacing: -0.52px;
  }
  &-banner {
    border-radius: 20px 20px 0px 0px;
    &-img {
      border-radius: 20px 20px 0px 0px;
    }
  }
}
.tp {
  &-team {
    &-shape {
      &-1 {
        top: -53px;
        right: -12%;
        @media #{$lg} {
          top: 48px;
          right: -25%;
        }
        @media #{$md} {
          right: -32%;
        }
        @media #{$xs} {
          right: -50%;
          top: 1%;
        }
      }
    }
    &-space {
      padding-top: 233px;
    }
  }
  &-section {
    &-team {
      @media #{$lg,$md} {
        margin-bottom: 15px;
      }
    }
    &-title-team {
      @media #{$lg} {
        font-size: 55px;
      }
    }
  }
}
.tpteamcard {
  &__img {
    &::before {
      border-radius: 20px 20px 0px 0px;
      background: linear-gradient(
        180deg,
        rgba(18, 16, 24, 0) 38.28%,
        #121018 100%
      );
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }
  }
  &__title {
    color: #073d30;
    font-size: 26px;
    letter-spacing: -0.52px;
    margin-bottom: 5;
  }
  &__content {
    & span {
      color: #073d30;
      font-family: var(--tp-font-heading);
      font-size: 16px;
      font-weight: 300;
      letter-spacing: -0.32px;
    }
  }
  &__social {
    position: absolute;
    bottom: 60px;
    text-align: center;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    @include tp-transition();
    & a {
      background-color: #fff;
      width: 42px;
      height: 42px;
      border-radius: 100%;
      display: inline-block;
      line-height: 39px;
      text-align: center;
      margin: 0 1px;
    }
  }
  &:hover {
    & .tpteamcard__social {
      opacity: 1;
      visibility: visible;
      bottom: 45px;
    }
    & .tpteamcard__img::before {
      opacity: 1;
      visibility: visible;
    }
  }
  &-main-img {
    border-radius: 20px 20px 0px 0px;
  }
}
.tpteam-banner {
  background-color: #ffcf4e;
  &-content {
  }
  &-title {
    color: #073d30;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: 34px;
  }
  & p {
    color: #073d30;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  &-btn {
    padding-bottom: 40px;
  }
}
.tp-team-quote {
  margin-top: -45px;
  & p {
    letter-spacing: -0.48px;
    & a {
      font-weight: 600;
      letter-spacing: -0.48px;
    }
  }
}
.tp-team-shape {
  bottom: 0;
  left: 0;
  width: 100%;
}
